.main-projets{
    display: flex;
    flex-direction: column;

    .container-titre{
        padding: 100px 0 0 0;

        h2{
            color: #EAD1A0;
            margin: 0;
            text-align: center;
            font-size: 30px;
        }
    }
}