.container-titre {
    padding: 70px 0 0 0;

    h2{
        text-align: center;
        color: #EAD1A0;
        font-size: 30px;
        margin: 0; 
    }
}

.contact-container{

    display: flex;
    justify-content: center;

    .mail-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;

        h3{
            font-size: 20px;
        }
        .flex-mail{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                width: 52px;
                padding-right: 15px;
            }
            button {
                background-color: #e9c170;
                border-radius: 6px;
                border: 1px solid black;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.15385;
                margin: 0;
                outline: none;
                padding: 17px 2em;
                position: relative;
                text-align: center;
            }
        }
    }

    .linkedin-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        
        h3{
            font-size: 20px;
        }
        .flex-linkedin{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                width: 50px;
                padding-right: 15px;
            }
            
            button {
                background-color: #e9c170;
                border-radius: 6px;
                border: 1px solid black;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.15385;
                margin: 0;
                outline: none;
                padding: 18px 2em;
                position: relative;
                text-align: center;
            }
        }

    }
}

hr{
    margin-top: 15%;
    width: 50%;
    border: 0.5px solid #EAD1A0 ;
}

.side-logo{
    display: flex;
    justify-content: center;
    padding-top: 170px;
    
    img{
        width: 70%;
    }
}



@media (max-width: 900px) {

    .contact-container{
        flex-direction: column;
    }
}
