.container-footer{
    height: 150px;
    background-color: #EAD1A0;
    
    .container-text{

        h3{
            text-align: center;
            color: black;
            font-size: 15px;
            margin-right: 0;
        }
    }

    .footer-logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 40px;

        img{
          height: 30px;
          margin: 0 10px ;
        }
      }
}