.collapse {
    margin: 15px 0 0 0 ;

    .collapse-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(31, 73, 112, 0.514);
        height: 70px;
        padding: 0 1%;
        border-radius: 8px;
        cursor: pointer;

        .collapse-img{
            padding-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                font-size: 25px;
                color: #EAD1A0;
            }
        }

        h3 {
            color: #EAD1A0;
            font-size: 20px;
            margin: 0px 0px 0px 10px;
            font-weight: bold;
            width: 85%;
        }

        img{
            padding-right: 20px;
        }
    }

    .collapse-content {
        background-color: rgba(31, 73, 112, 0.514);
        border-radius: 8px;
        height: auto;
        margin-top: 10px;
        padding: 20px 20px;
        box-sizing: border-box;
        font-size: 20px;

        h2{
            text-align: center;
            margin: 0px 0px 60px 0px;
            color: #EAD1A0;
        }

        p {
            font-size: 17px;
            color: #EAD1A0;
            padding: 10px 0 10px 0;
        }

        .techno{
            list-style: none;
            display: flex;
            gap: 10px;
            padding: 0;
            margin: 10px 0px;
    
            li{
                    background-color: #1b1526;
                    font-size: 14px;
                    padding: 6px 13px 6px 13px;
                    border-radius: 15px;
                    color: #EAD1A0;
                }
        }


        .link-container{
            margin: 20px 0 20px 0;
            text-align: center;
    
            a{
                color: #EAD1A0;
                text-decoration: none;
                text-decoration: none;
                background-color: #1b1526;
                padding: 15px;
                border-radius: 10px;
            }
        }
    }
}


@media (min-width: 1300px) {

    .collapse{
        display: none;
    }
    
}

@media (max-width: 1300px) {

    .collapse {
    
        .collapse-toggle {
          
    
            h3 {
                font-size: 16px;
            }
            
        }
    }
}

@media (max-width: 900px) {

    .collapse {
    
        .collapse-toggle {
          
    
            h3 {
                font-size: 15px;
            }
            
        }

        .collapse-content{

            h2{
                font-size: 20px;
            }

            p{
                font-size: 15px;
            }

            .techno {
    
                li{
                    font-size: 12px;
                }
            }
        }

        .link-container{
    
            a{
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 447px) {

    .collapse {
    
        .collapse-toggle {
          
            .collapse-img{
    
                svg{
                    font-size: 18px;
                    color: #EAD1A0;
                }
            }
    
            h3 {
                font-size: 12px;
            }
            
        }
        .link-container{
    
            a{
                font-size: 12px;
            }
        }
    }
}